.login-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .button-container {
        width: 405.76px;
        color: black;
    }

    img {
        width: 500px;
        margin-bottom: 20px;
    }

    @media (max-width: 560px) {
        img {
            width: 280px;
        }
    }
}