.tasks-container {
    padding: 60px 85px;
    display: flex;
    flex-direction: column;
    max-width: 50%;
    padding-top: 50px;
    height: 100vh;

    h2 {
        margin-bottom: 24px;
    }

    h3 {
        font-size: 18px;
    }

    .last-tasks {
        flex: 1;
        overflow-y: hidden;
        display: flex;
        flex-direction: column;

        .tasks-list{
            margin-top: 28px;
        }
    }

    .completed-tasks {
        flex: 1;
        padding-top: 28px;

        .tasks-list {
            margin-top: 28px;
        }
    }
}

